@model BlueNetWebApp.db.GameOverview

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-12">
        <div class="card mt-4" id="navbump">
            <!--
        <img class="mx-auto d-bloc" src="@Url.Action("RenderImage", new { id = Model.Id })" style="display:block;" height="400px" alt="">
        -->
            <img id="bannerbar" src="~/Image/logoship2.png" />
            <div class="card-body">
                <div class="alert alert-info">
                    <button type="button" style="margin-right:20px;" class="btn btn-primary" data-toggle="modal" data-target="#QRModal"><span class="glyphicon glyphicon-download-alt"></span>Download</button>
                    <div id="QRModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="@Url.Action("GetQrDownload", "Home", new { gameName = Model.Title })" alt="@Model.Title" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="margin-right:20px"><span class="glyphicon glyphicon-time"></span> 69 uur gespeeld</p>
                    <p style="margin-right:20px"><span class="glyphicon glyphicon-calendar"></span> Laatst gespeeld op 01/01/1970</p>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>   4.0 sterren
                </div>
            </div>
        </div>
        <!-- /.card -->
        <div class="card card-outline-secondary my-4" style="margin-top:24px;">
            <div class="card-header">
                <h3 class="titleclass"><img src="@Url.Action("RenderImage", new { id = Model.Id })" />@Model.Title</h3>
                <span class="badge badge-primary">Trivia</span>
                <span class="badge badge-success">Multiplayer</span>
                <span class="badge badge-warning">Rolgebaseerd</span>
            </div>
            <div class="card-body">
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
        <div class="card card-outline-secondary my-4" style="margin-top:24px;">
            <div class="card-header">
                @Model.Title Nieuws en Updates.
            </div>
            <div class="card-body">
                <p class="card-title">Update: 14</p>
                <p class="card-text">
                    Update 14 voor @Model.Title is nu uit!
                    Maak kennis met:
                    <ul>
                        <li>Nieuwe characters: Piraty Pete & Waterrat Willem</li>
                        <li>Meer vragen.</li>
                        <li>Nieuwe Categorie: AVG wet.</li>
                        <li>De app heeft nu voicechat.</li>
                        <li>Bugfix: je schip zinkt nu!</li>
                        <li>Bugfix: Spelfouten in 384 vragen en antwoorden gefixed.</li>
                        <li>Het Kerst evenement gaat nu van starts, Periode loopt tot 20 december.</li>
                    </ul>
                </p>
                <small class="text-muted">Posted by Adminman16 on 1/12/19</small>
                <hr>
                <p class="card-title">Kerst evenement</p>
                <p class="card-text">
                    De Kerst periode komt er weer aan, maak u klaar voor een speciaal Trivia evenement waar u kans maakt op een gebrade eend van 7 Kilo en een fles 15 jaar oude wijn!
                </p>
                <small class="text-muted">Posted by Adminman16 on 17/11/19</small>
                <hr>
                <p class="card-title">Update: 13.2</p>
                <p class="card-text">
                    Update 13.2 voor @Model.Title is nu uit!
                    Maak kennis met:
                    <ul>
                        <li>Meer vragen.</li>
                        <li>Bugfixes.</li>
                        <li>Preparaties voor Kerst.</li>
                    </ul>
                </p>
                <small class="text-muted">Posted by Adminman16 on 27/10/19</small>
            </div>
        </div>
        <div class="card card-outline-secondary my-4" style="margin-top:24px;">
            <div class="card-header">
                Collega's die @Model.Title spelen
            </div>
            <div class="card-body">
                <p class="card-text">@Model.Description</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>
                <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
        </div>
    </div>
</div>
