@model VRPDWebApp.db.GameOverview

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="titleclass">
    <h2>@Model.Title</h2>
    <img src="@Url.Action("RenderImage", new { id = Model.Id })" />
    <p>@Model.Description</p>
    <img src="@Url.Action("GetQrDownload", "Home", new { gameName = Model.Title })" alt="@Model.Title">
</div>
